<main>
  <div class="container">
    <div class="section row white-text" *ngIf="wxob">
      <div class="col s6">
        <h1 style="font-weight: 100; margin-bottom: 0;">{{date.format('LT')}}</h1>
        <h5 style="font-weight: 100; margin-top: 0;">{{date.format('dddd, LL') | lowercase}}</h5>
      </div>
      <div class="col s6 right-align">
        <h1 style="font-weight: 100; margin-bottom: 0;">{{wxob.temp_f}}&deg;F</h1>
        <h5 style="font-weight: 100; margin-top: 0;">{{wxob.temp_c}}&deg;C</h5>
      </div>
    </div>
  </div>
</main>
<footer class="page-footer blue">
  <div class="container">
    <p id="metar" class="grey-text text-lighten-4" *ngIf="wxob">{{wxob.getMetar()}}</p>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 <a class="grey-text text-lighten-4" href="https://github.com/brentpabst">Brent Pabst</a>
      <a class="grey-text text-lighten-4 right" href="{{wxob.link}}" *ngIf="wxob">Weather Underground &rarr;</a>
    </div>
  </div>
</footer>